*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
   width: 1600px;
   height: 92px;
    padding: 16px 120px 16px 120px;
    background-color: #FFFFFF;
   
}

.logo img{
   width: 130px;
   height: 55px;
}
nav{
    width: 1600px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
nav .menu{
   display: flex;
   gap: 32px;
   list-style-type: none;
   align-items: center;
   justify-content: center;
   
}
nav .menu a{
   font-size: 16px;
   font-weight: 600;
   color: #000000;
   gap: auto;
   text-decoration: none;
   
  
}
.btn{
   background-color:  rgba(70, 145, 101, 1);
   font-size: 14px;
   font-weight: semi bold;
   color: #FFFFFF;
   border: none;
   border-radius: 5px;
   padding: 12px 16px 12px 16px;
}
.hero{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-container{
   width: 230px;
   height: 25px;
   padding: 5px 10px;
   background-color: #FFFFFF;
   border-radius: 1000px;
   color: #30B868;
   align-items: center;
   font-size: 13px;
   font-weight: 500;
   text-align: center;
}

.hero h1{
   font-size: 50px;
   font-style: bold;
   color: #FFFFFF;
   max-width: 770px;
   height: 130px;
   margin: 0 auto;
   padding: 0 auto;
   margin-top: 10px;
   margin-bottom: 0px;
  
}
.color{
   color: #30B868;
}
.hero p{
   font-style: normal;
   font-size: 16px;
   font-weight: 300;
   text-align: center;
   color: #FFFFFF;
   line-height: 28px;
   width: 600px; 

}
.hero-btns{
   display: flex;
   justify-content: center;
   gap: 16px;
   margin-top: 20px;

}
.btn-one{
   background-color: rgba(70, 145, 101, 1);
   color: #FFFFFF;
   border-radius: 4px;
   border: none;
   align-items: center;
   padding: 12px 24px;
   font-size: 15px;
  

  

 
}
.btn-one img{
   height: 15px;

  
}
.btn-two{
   display: flex;
   border-radius: 4px;
   align-items: center;
   color: #FFFFFF;
   font-size: 15px;
   padding: 12px 24px;
   background-color: transparent;
   border-color: #FFFFFF;
}

.app-container h2{
   text-align: center;
   height: 45px;
   justify-items:center;
   font-size: 35px;
   font-style: bold;
   font-weight: 700;
   text-transform: capitalize;
   margin-top: 30px;
 
}
.app-container p{
   text-align: center;
   font-size: 12px;
   font-weight: 400;
   margin-bottom: 2px;
   
}
 .app-info{
   display: flex;
   text-align: center;
   justify-content: center;
   gap: 24px;
  margin-bottom: 10px;
   height: 310px;
   padding: 40px 20px ;
   

}
 .info-card{
   padding: 40px;
   height: 300px;
   width: 309px;
  justify-content: center;
   box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.058);
   background:white;
   box-sizing: border-box;
   align-items: center;
   flex-direction: column;
   display: flex;
   
}
.info-card h4{
  
   font-size: 23px;
   font-weight: 600;
   line-height: 30px;
  
   
}
.info-card p{
   font-size: 12px;
   font-weight: 300;
   line-height: 20px;
    margin-top: 5px;
}
.solution-image img{
     width: 420px;
     max-width: 100%;
}

.solution{
  display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding: 40px 20px;
   height: 400px;
   
}
.solution-content{
           height: 250px;
           width: 600px;
           margin-right: 50px;
}
.solution-content h2{
      height: 20px;
      font-size: 13px;
      font-weight: 500;
      color: #30B868;
      line-height: 15px;
      text-align: left;
      text-transform: uppercase;
}
.solution-content h1{
   height: 116px;
   font-size: 34px;
   font-style: bold;
   font-weight: 700;
   line-height: 48px;
   gap: 5px;
   text-align: left;
   text-transform: capitalize;
   margin-bottom:8px;
   
}
.solution-content p{
   font-size: 13px;
   font-weight: 200;
   line-height: 20px;
   height: 80px;
   max-width: 450px;
   margin-top: 0;
   text-align: left;
   
}
.menu{
   list-style: none;
   
}
.menu li{
  height: 20px;
  font-size: 13px;
  margin-bottom: 12px;

}
.rdy{
   background: #F7F6F2;
   padding: 110px 20px;
   text-align: center;
   border-radius: 12px;
   gap: 40;
   max-width: 1160px;
   height: 346px;
   align-items: center;
   margin: 70px auto;
}
.rdy h2{
   font-size: 28px;
   margin-bottom: 12px;
   text-align: center;
   text-transform: capitalize;
   font-weight: 700;
}
.rdy p{
   text-align: center;
   font-size: 13px;
   font-weight: 400;
   margin-bottom: 25px;
   line-height: 1.6;
   color: #627382;;
}
.rdy-btn{
   background-color: rgba(70, 145, 101, 1);
   color: #FFFFFF;
   padding: 12px 28px;
   font-size: 13px;
   font-weight: 600;
   border-radius: 4px;
   cursor: pointer;
   margin-bottom: 12px;
   border: none;

}
.rdy-btn img{
   height: 12px;
   width: 13px;
  
}
.p{
    font-size: 13px;
    color: #627382;

}
.footer{
   background-color:var(--Style, rgba(0, 25, 49, 1));
  padding:70px 30px ;
  text-align: center;
  height: 240px;
   width: 100%;
   margin-top: 140px;
   box-sizing: border-box;
   

 
  
}
.footer-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
  max-width: 1200px;
  padding: 10px 10px;
  margin: 0 auto;
}
.footer-logo img{
   justify-content: center;
   height: 40px;

}
 .footer-social {
   display: flex;
   align-items: center;
   font-size: 40px;
   font-weight: 500;
}
 



